@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

@mixin Bgimg {
  width: 100%;
  height: 100%;
  min-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.locations__location {
  width: 100%;
  height: 100%;

  &--canada {
    @include Bgimg;
    background-image: url("assets/locations/tablet/image-map-canada.png");
  }
  &--australia {
    @include Bgimg;
    background-image: url("assets/locations/tablet/image-map-australia.png");
  }
  &--united {
    @include Bgimg;
    background-image: url("assets/locations/tablet/image-map-uk.png");
  }
}

/* 

    Tablet BP

*/

@include breakpoint(tablet) {
  .locations {
    padding: 0 40px;
  }

  .locations__location {
    display: grid;
    gap: 32px;

    > * {
      border-radius: 15px;
    }
  }
}

/* 

      Desktop BP

*/

@include breakpoint(desktop) {
  .locations {
    padding: 0 124px;
  }

  .locations__location {
    display: flex;
    min-height: 326px;
    margin: 0 auto;
    max-width: 1112px;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    &--canada {
      background-image: url("assets/locations/desktop/image-map-canada.png");
    }

    &--australia {
      background-image: url("assets/locations/desktop/image-map-australia.png");
    }
    &--united {
      background-image: url("assets/locations/desktop/image-map-united-kingdom.png");
    }

    &--canada,
    &--australia,
    &--united {
      max-width: 350px;
    }
  }
}
