@use "../utils/breakpoints" as *;

.web-design > *:not(:first-child) {
  padding: 0 24px;
}

/* 

      Tablet BP

*/

@include breakpoint(tablet) {
  .web-design > * {
    padding: 0 40px !important;
  }
}

/* 

      Desktop BP

*/

@include breakpoint(desktop) {
  .web-design > * {
    padding: 0 124px !important;
  }
}
