/* Colors */
$mainBg: rgba(231, 129, 107, 1);
$projectsBg: rgba(253, 243, 240, 1);
$fontColor: #333136;
$blackText: rgba(51, 49, 54, 1);

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=League+Spartan:wght@700&display=swap");
$baseFont: "Jost", sans-serif;
$LogoFont: "League Spartan", sans-serif;
