@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.call-to-action {
  width: 100%;
  padding: 0 24px;
  color: white;

  transform: translateY(196px);
}

.call-to-action__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 327px;
  padding: 0 24px;
  margin: 0 auto;

  background-color: $mainBg;
  text-align: center;
  border-radius: 15px;
}

.call-to-action__content {
  position: relative;
  z-index: 2;

  &--header {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 6px;
    margin-top: 64px;
  }

  &--para {
    margin-bottom: 48px;
    font-size: 15px;
    line-height: 25px;
  }

  &--btn {
    padding: 18px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 64px;
    cursor: pointer;
  }
}

.call-to-action__bg {
  position: absolute;
  top: -30%;
  right: 0;
}

/* 

      Tablets BP

*/

@include breakpoint(tablet) {
  .call-to-action {
    padding: 0 40px;
  }

  .call-to-action__wrapper {
    max-width: 690px;
    padding: 0 60px;
  }

  .call-to-action__content {
    &--header {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &--para {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
