@use "../abstracts/variables" as *;

.footer {
  background-color: #1d1c1e;
  padding: 252px 24px 64px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    width: 100%;
    border-bottom: 1px solid white;
    opacity: 0.1;
  }
}

.footer__img--wrapper {
  width: 197px;
  margin-bottom: 32px;
}

.footer__links {
  padding-top: 32px;
  display: grid;
  gap: 32px;
  color: white;

  > * {
    letter-spacing: 2px;
    font-size: 14px;
  }
}

.footer__contacts {
  margin-top: 40px;
  display: grid;
  gap: 40px;
}

.footer__contact {
  color: white;
  opacity: 0.5;
  line-height: 26px;
  font-size: 16px;
  > h3 {
    font-weight: 500;
  }

  &--socials {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
