@use "../abstracts/variables" as *;

.hero {
  max-height: 843px;
  overflow: hidden;

  margin-bottom: 120px;
}

.hero__wrapper {
  position: relative;
  overflow: hidden;

  color: white;
  background-color: $mainBg;
  text-align: center;
}

.hero__background--icon {
  position: absolute;
  z-index: 1;
  top: 102px;
  left: 0;
}

.hero__content {
  position: relative;
  z-index: 2;
  padding: 0 24px;

  &--title {
    margin-top: 80px;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }

  &--para {
    margin-top: 14px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  &--btn {
    margin-top: 24px;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: white;
    color: #333136;
  }
}

.hero__phone--wrapper {
  width: 100%;
}

.hero__phone {
  transform: translateY(-28px);
}
