@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.navbar {
  min-height: 96px;
  padding: 36px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo--wrapper {
  width: 197px;
}

.navbar__menu--icon {
  cursor: pointer;
}

.navbar__links--wrapper {
  overflow: hidden;
  position: absolute;
  top: 96px;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 3;

  background-color: rgba(29, 28, 30, 0.425);
  transition: all 500ms ease;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
  padding: 48px 24px;
  background-color: #1d1c1e;
}

.navbar__link {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

/* 

      Tablet BP

*/

.navbar__tablet {
  display: none;
}

@include breakpoint(tablet) {
  .navbar {
    padding: 64px 40px;
  }

  .navbar__tablet {
    display: flex;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__links {
    flex-direction: row;
    width: unset;
    padding: unset;
    background-color: unset;
  }

  .navbar__link {
    color: $blackText;
    font-size: 14px;
    line-height: 14px;
  }
}

/* 

      Desktop BP

*/

@include breakpoint(desktop) {
  .navbar {
    padding: 64px 124px;
  }

  .navbar__link:hover {
    text-decoration: underline;
  }
}
