@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

@mixin Bgimg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-links {
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.project-link {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 250px;

  cursor: pointer;
}

.project-link__img--web {
  @include Bgimg;
  background-image: url("assets/home/mobile/image-web-design.jpg");
}

.project-link__img--app {
  @include Bgimg;
  background-image: url("assets/home/mobile/image-app-design.jpg");
}

.project-link__img--graphic {
  @include Bgimg;
  background-image: url("assets/home/mobile/image-graphic-design.jpg");
}

.project-link__content--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;

  background-color: rgba(0, 0, 0, 0.499);
}

.project-link__content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: white;
  text-align: center;
  text-transform: uppercase;

  h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
  }
}

/* 

      Tablet BP

*/

@include breakpoint(tablet) {
  .project-link__img--web {
    background-image: url("assets/home/tablet/image-web-design.jpg");
  }

  .project-link__img--app {
    background-image: url("assets/home/tablet/image-app-design.jpg");
  }

  .project-link__img--graphic {
    background-image: url("assets/home/tablet/image-graphic-design.jpg");
  }

  .project-link__content {
    gap: 24px;

    h3 {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

/* 

      Desktop BP

*/

@include breakpoint(desktop) {
  .project-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    > *:not(:first-child) {
      grid-column: 2;
    }
  }

  .project-link__img--web {
    background-image: url("assets/home/desktop/image-web-design-small.jpg");
  }

  .project-link__desktop {
    height: 100%;
    grid-row: 1/3;

    .project-link__img--web {
      background-image: url("assets/home/desktop/image-web-design-large.jpg");
    }
  }

  .project-link__img--app {
    background-image: url("assets/home/desktop/image-app-design.jpg");
  }

  .project-link__img--graphic {
    background-image: url("assets/home/desktop/image-graphic-design.jpg");
  }

  .project-link__content--bg:hover {
    background-color: rgba(231, 129, 107, 0.8);
  }
}
