@use "../../abstracts/variables" as *;
@use "../../utils/breakpoints" as *;

.mapped-location {
  width: 100%;
}

.mapped-location__img--wrapper {
  max-height: 320px;

  img {
    object-fit: cover;
  }
}

.mapped-location__content {
  position: relative;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: $projectsBg;
  overflow: hidden;

  text-align: center;

  &--bg {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--title {
    position: relative;
    z-index: 2;
    font-size: 32px;
    line-height: 36px;
    color: $mainBg;
  }

  &--desc {
    position: relative;
    z-index: 2;
    font-size: 15px;
    line-height: 25px;

    h3 {
      font-weight: 700;
    }
  }
}

.mapped-location__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* 

      Tablet BP

*/

@include breakpoint(tablet) {
  .mapped-location__content {
    align-items: flex-start;
    padding: 88px 74px;
    text-align: left;
    border-radius: 15px;

    &--bg {
      right: unset;
      left: 0;
    }
  }

  .mapped-location__bottom {
    flex-direction: row;
  }
}
