@use "../../abstracts/variables" as *;
@use "../../utils/breakpoints" as *;

.sites {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.sites__country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sites__btn {
  padding: 18px;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: white;
  background-color: $mainBg;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* 

      Desktop BP

*/

@include breakpoint(desktop) {
  .sites {
    flex-direction: row;
    justify-content: space-around;
  }
}
